index-en.haml
!!!
%html(lang="en" data-bs-theme="dark")
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport',
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}

    %meta{:name => "author", :content => "Gimenez, Christian"}
    %meta{:name => "description", :content => "Christian Gimenez Homepage. Information about crowd, researchs, courses and contact data."}
    %meta{:name => "keywords", :content => "homepage, Christian Gimenez, knowledge graphs, semantic web, programming, emacs, orgmode"}

    %link{:rel => "apple-touch-icon", :href => "imgs/favicon.png"}
    %link{:rel => "shortcut icon", :type => "image/x-icon",
          :href => "imgs/favicon.ico", :size => "48x48"}
    %link{:rel => "icon", :type => "image/png",
          :href => "imgs/favicon-32x32.png", :size => "32x32"}
    %link{:rel => "icon", :type => "image/png",
          :href => "imgs/favicon-16x16.png", :size => "16x16"}

    %link{:rel => "stylesheet", :href => "./libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "./libs/aos.css"}
    %link{:rel => "stylesheet", :href => "./libs/fontawesome/css/all.min.css"}
    %link{:rel => "stylesheet", :href => "./libs/index.css"}
    %link{:rel => "stylesheet", :href => "https://www.suchat.org/wp-json/presence/css/christiangimenez@suchat.org"}

    %title Christian Gimenez
 
  %body
    - load 'scripts/myhelpers.rb'

    /
      By default AOS hides everything it affects, which is problematic when JS is disabled
      for any reason the user may have (and yes, I sometimes disable JS too!).
      This noscript fixes that showing all when JS is disabled.
    %noscript
      %style
        [data-aos] {
        visibility: visible !important;
        opacity: 1 !important;
        transform: none !important; }
       
    != render_file('navbar.haml')    
    
    .container.my-1#top
      .sec-keywords
        != render_file('goto.haml')

      .title
        #particles-title
        .title-text
          %h1 Christian Gimenez
          != render_file('keywords.haml')
      
      .sec-likes#likes
        != render_file('likes.haml')
      
      -# --------------------------------------------------

      .sec-contact#contact
        != render_file('contact.haml')

      -# --------------------------------------------------

      .sec-pk#public_key
        != render_file('pk.haml')

      -# --------------------------------------------------

      .sec-wiki#wiki
        != render_file('wiki.haml')
        
      -# --------------------------------------------------

      .sec-repos#repositories
        != render_file('repos.haml')
        
      -# --------------------------------------------------

      -# --------------------------------------------------
      .sec-acces#accesibility
        != render_file('accesibility.haml')
        
      %hr/
      %p
        %a.btn.btn-secondary{:href => "#top"}
          %i.fas.fa-chevron-up
          Top

      -# --------------------------------------------------
      .footer{'data-role' => 'footer'}
        %address
          %a{:href => 'mailto:christian.gimenez@fi.uncoma.edu.ar'}
            Gimenez, Christian

        %p
          Last update:
          = Time.now.strftime '%d %b %Y'

    %script{:src => "./libs/jquery.min.js"}
    -# %script{:src => "./libs/popper-2.9.1.min.js"}
    %script{:src => "./libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"}
    %script{:src => "./libs/aos.js", :defer => true}
    %script{:src => "./libs/particles.js", :defer => true}
    %script{:src => "./libs/masonry-4.2.2.pkgd.min.js", :async => true}
    %script{:src => "./libs/index.js"}

    -# #particles-bg

index-en.html
<!DOCTYPE html>
<html data-bs-theme='dark' lang='en'>
<head>
<meta charset='utf-8'>
<meta content='text/html; charset=UTF-8' http-equiv='content-type'>
<meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
<meta content='Gimenez, Christian' name='author'>
<meta content='Christian Gimenez Homepage. Information about crowd, researchs, courses and contact data.' name='description'>
<meta content='homepage, Christian Gimenez, knowledge graphs, semantic web, programming, emacs, orgmode' name='keywords'>
<link href='imgs/favicon.png' rel='apple-touch-icon'>
<link href='imgs/favicon.ico' rel='shortcut icon' size='48x48' type='image/x-icon'>
<link href='imgs/favicon-32x32.png' rel='icon' size='32x32' type='image/png'>
<link href='imgs/favicon-16x16.png' rel='icon' size='16x16' type='image/png'>
<link href='./libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' rel='stylesheet'>
<link href='./libs/aos.css' rel='stylesheet'>
<link href='./libs/fontawesome/css/all.min.css' rel='stylesheet'>
<link href='./libs/index.css' rel='stylesheet'>
<link href='https://www.suchat.org/wp-json/presence/css/christiangimenez@suchat.org' rel='stylesheet'>
<title>Christian Gimenez</title>
</head>
<body>
<!--
By default AOS hides everything it affects, which is problematic when JS is disabled
for any reason the user may have (and yes, I sometimes disable JS too!).
This noscript fixes that showing all when JS is disabled.
-->
<noscript>
<style>
[data-aos] {
visibility: visible !important;
opacity: 1 !important;
transform: none !important; }
</style>
</noscript>
<nav class='navbar navbar-expand-lg navbar-dark sticky-top shadow'>
<div class='container-fluid'>
<button aria-label='Menu' class='navbar-toggler' data-bs-target='#navbarSupportContent' data-bs-toggle='collapse' type='button'>
<span class='navbar-toggler-icon'></span>
</button>
<a class='navbar-brand' href='#' tabindex='-1'>
<img alt='My avatar. It is the Lion from the LaTeX 2e mascot.' class='d-inline-block align-top' height='30' src='./imgs/lion.webp' width='30'>
Christian Gimenez
</a>
<div class='collapse navbar-collapse' id='navbarSupportContent'>
<ul class='navbar-nav me-auto mb-2 mb-lg-0'>
<li class='nav-item active'>
<a class='nav-link' href='#'>My profile</a>
</li>
<li class='nav-item'>
<a class='nav-link' href='https://crowd.fi.uncoma.edu.ar'>
<emph>crowd</emph>
</a>
</li>
<li class='nav-item'>
<a class='nav-link' href='http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home'>
My Wiki
</a>
</li>
</ul>
<ul class='navbar-nav justify-content-end'>
<li class='nav-item'>
<a class='nav-link' href='xmpp:christiangimenez@suchat.org' id='webpresence'>
<i class='far fa-lightbulb fa-fw fa-lg'></i>
Webpresence
</a>
</li>
</ul>
| My repositories:
<ul class='navbar-nav justify-content-end'>
<li class='nav-item'>
<a alt='My Gitlab repositories.' class='nav-link' href='https://gitlab.com/cnngimenez/'>
<i class='fab fa-gitlab'></i>
Gitlab
</a>
</li>
<li class='nav-item'>
<a alt='My Sourcehut repositories.' class='nav-link' href='https://sr.ht/~cngimenez'>
<svg height='1em' viewBox='0 0 512 512' width='1em' xmlns='http://www.w3.org/2000/svg'>
<path fill="white" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path>
</svg>
Sourcehut
</a>
</li>
<li class='nav-item'>
<a alt='My Codeberg repositories.' class='nav-link' href='https://codeberg.org/cnngimenez'>
<img alt='Codeberg logo' src='./imgs/codeberg-logo.svg' width='19em'>
Codeberg
</a>
</li>
<li class='nav-item'>
<a alt='My Bitbucket repositories.' class='nav-link' href='https://bitbucket.org/cnngimenez/'>
<i class='fab fa-bitbucket'></i>
Bitbucket
</a>
</li>
<li class='nav-item'>
<a alt='My Github repositories.' class='nav-link' href='https://github.com/cnngimenez/'>
<i class='fab fa-github'></i>
Github
</a>
</li>
</ul>
</div>
</div>
</nav>

<div class='container my-1' id='top'>
<div class='sec-keywords'>
<p>
<i class='fas fa-language'></i>
Languages:
<a href='index.html'>Spanish (Español)</a>
|
<b>English</b>
</p>
<p>
Goto:
<a href='#likes'>Likes</a>
|
<a href='#contact'>Contact</a>
|
<a href='#public_key'>Public Key</a>
|
<a href='#wiki'>Class resources</a>
|
<a href='#repositories'>Repositories</a>
|
<a href='?particles=off'>
<i class='fas fa-wrench'></i>
reload page without particles
</a>
</p>

</div>
<div class='title'>
<div id='particles-title'></div>
<div class='title-text'>
<h1>Christian Gimenez</h1>
<p>
<span alt='Semantic Web' class='badge bg-primary'>Semantic Web</span>
<span alt='Knowledge Graphs' class='badge bg-primary'>Knowledge Graphs</span>
<span alt='Ontologies' class='badge bg-primary'>Ontologies</span>
<span alt='crowd' class='badge bg-primary'>crowd</span>
<span alt='Emacs' class='badge bg-primary'>Emacs</span>
<span alt='Org-mode' class='badge bg-primary'>Org-mode</span>
<span alt='Libre Software' class='badge bg-primary'>Libre Software</span>
</p>

</div>
</div>
<div class='sec-likes' id='likes'>
<h1>My interests</h1>
<div class='row align-items-center'>
<div class='col-8'></div>
<div class='col-4'></div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2>Universidad Nacional del Comahue (UNComa)</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
This is the university where I study and work. UNComa is my
<em>Alma Mater</em>
!
</p>
<p>
<a class='btn btn-primary my-1' href='https://uncoma.edu.ar/'>
See the UNComa Homepage
</a>
</p>
</div>
<div class='col-4'>
<img alt='The University logo.' height='150' src='./imgs/UNComa.jpg' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2>Facultad de Informática (FaI)</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
Inside the UNComa, the
<em>Facultad de Informática</em>
(faculty of informatics) is where I have my place of work specifically.
Here I share with my colleagues and teach too.
</p>
<p>
<a class='btn btn-primary my-1' href='https://faiweb.uncoma.edu.ar/'>
See the FaI Homepage
</a>
</p>
</div>
<div class='col-4'>
<img alt='The Faculty logo.' height='150' src='./imgs/FAI.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2>crowd</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
Some time ago I helped to develop crowd. It is a visual tool to involve stakeholders into ontology engineering.
</p>
<p>
The aim of the tool is to use well-known visual languages and reasoning services for simplifying ontology and modelling development.
</p>
<a class='btn btn-primary my-1' href='http://crowd.fi.uncoma.edu.ar'>
Visit the crowd Homepage
</a>
</div>
<div class='col-4'>
<img alt='The crowd logo.' height='150' src='./imgs/crowd-small.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2>Libre Software</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
I use Libre Software on my everyday life. From GNU/Linux to Emacs, Firefox, and any tool published under free (as in freedom) licenses.
I participate on events about ethics and Libre Software too.
</p>
<p>
Would you like to read more about Libre Software? Click on the next link/button!
</p>
<p>
<a class='btn btn-primary btn-block btn-lg' href='https://fsf.org/'>
Read more info on the Internet
</a>
</p>
</div>
<div class='col-4'>
<img alt='The GNU logo.' height='143' src='./imgs/heckert_gnu.small.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2>LaTeX Project</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
LaTeX is my favourite text compiler. Along with Org-mode and Emacs, I use them for everything!
</p>
<p>
<a class='btn btn-primary my-1' href='https://www.latex-project.org/'>
LaTeX Homepage
</a>
<a class='btn btn-secondary my-1' href='https://ctan.org/'>
CTAN
</a>
</p>
</div>
<div class='col-4'>
<img alt='The LaTeX 3 logo.' height='115' src='./imgs/LaTeX_only_bird.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2>Org Mode</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
Org mode is an Emacs major mode. It is a real plain text system to do many thing.
</p>
<p>
I am fascinated with this major mode: I use it to write literate programming, documents, notes, to manage my calendar, and many more things.
</p>
<p>
<a class='btn btn-primary my-1' href='https://orgmode.org/'>
Org Mode Homepage
</a>
</p>
</div>
<div class='col-4'>
<img alt='The Org-mode logo.' height='148' src='./imgs/Org-mode-unicorn.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-up'>
<h2 class='card-title'>Emacs</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
Well, as you have just guessed: Emacs is my favourite text editor!
</p>
<p>
<a class='btn btn-primary my-1' href='https://www.gnu.org/software/emacs/'>
Emacs Homepage
</a>
</p>
</div>
<div class='col-4'>
<img alt='The Emacs logo.' height='150' src='./imgs/EmacsIcon.webp' width='150'>
</div>
</div>
</div>

</div>
<div class='sec-contact' id='contact'>
<h1>Contact Info</h1>
<br>
<div class='container my-3' data-aos='fade-right'>
<h2>vCard</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
Download a vCard file with all my contact information.
</p>
<p>
<a class='btn btn-primary' href='http://crowd.fi.uncoma.edu.ar/~christian.gimenez/vcard.vcf'>
Download vCard
</a>
</p>
</div>
<div class='col-4'>
<img alt='vCard logo' height='150' src='./imgs/vcard.webp' width='150'>
</div>
</div>
</div>
<div class='container my-32' data-aos='fade-right'>
<h2>XMPP</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
You can chat with me using XMPP! I'm always connected!
</p>
<p>
My Web presence is shown at the top of the page.
Colours means: green is connected, red is busy, and gray means away.
</p>
<p>
My XMPP address is:
</p>
<p>
<a class='nav-link' href='xmpp:christiangimenez@suchat.org'>
<i class='far fa-lightbulb fa-fw fa-lg'></i>
christiangimenez@suchat.org
</a>
</p>
<p>
Use one of the programs
<a href='https://www.suchat.org/clientes/' taget='_blank'>
listed here
</a>
!
</p>
<p>
But if you don't want to install anything: There are Web clients too!
<a href='https://www.suchat.org/converse/' target='_blank'>
Check this out!
</a>
</p>
<p>
<a class='btn btn-primary' href='https://www.suchat.org/crear-una-cuenta-xmpp/'>
Create your account!
</a>
<a class='btn btn-secondary' href='https://www.suchat.org/converse/'>
Web client
</a>
</p>
</div>
<div class='col-4'>
<img alt='XMPP logo' height='154' src='./imgs/xmpp.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-right'>
<h2>Public Key</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
You can download my public key from the button below or use the GPG2 utility with the following console command:
</p>
<p>
<code>gpg2 --receive-keys C936B214EB93830D</code>
</p>
<p>
More information on
<a href='https://emailselfdefense.fsf.org/'>Email Self Defense webpage.</a>
</p>
<p>
<a class='btn btn-secondary' href='http://crowd.fi.uncoma.edu.ar/~christian.gimenez/certificates/8EA85F43420045020C30EC02C936B214EB93830D.asc'>
Download
</a>
</p>
</div>
<div class='col-4'>
<img alt='The GnuPG robot holding two keys on his hand with PUB and PRIV lables.' height='114' src='./imgs/keypair.webp' width='150'>
</div>
</div>
</div>
<div class='container my-3' data-aos='fade-right'>
<h2>Mastodon</h2>
<div class='row align-items-center'>
<div class='col-8'>
<p>
From time to time, I post things on Mastodon social network. Send me a message at
<code>@cnngimenez</code>
or check my profile!
</p>
<p>
<a class='btn btn-primary' href='https://mastodon.social/@cnngimenez' rel='me'>
See my profile
</a>
</p>
</div>
<div class='col-4'>
<img alt='The Mastodon logo.' height='150' src='./imgs/Mastodon.webp' width='150'>
</div>
</div>
</div>

</div>
<div class='sec-pk' id='public_key'>
<h2>Public Key</h2>
<p>
You can download from the button below or use the GPG2 utility with the following console command:
</p>
<p>
<code>gpg2 --receive-keys C936B214EB93830D</code>
</p>
<p>
Software for managing public and private keys: Kleopatra, Seahorse, KGpg, Emacs (using epa), APG (para android), OpenKeyChain (for Android), etc.
E-mail clients that supports encription: Mutt, KMail, Thunderbird, Evolution, Emacs with Wanderlust, K9-Mail + APG (for Android), K9-Mail + OpenKeyChain etc.
</p>
<p>
More information on
<a href='https://emailselfdefense.fsf.org/'>Email Self Defense webpage.</a>
</p>
<p>
<button class='btn btn-primary' data-bs-target='#gpg-key' data-bs-toggle='collapse' type='button'>
See details
</button>
<a class='btn btn-secondary' href='http://crowd.fi.uncoma.edu.ar/~christian.gimenez/certificates/8EA85F43420045020C30EC02C936B214EB93830D.asc'>
Download
</a>
</p>
<div class='collapse' id='gpg-key'>
<div class='border border-primary'>
<pre>Giménez, Christian (Certificado para la cuenta de correo institucional.)
C936B214EB93830D 2048bits DSA
Created: 2014-05-20
Fingerprint: 8EA85F43420045020C30EC02C936B214EB93830D</pre>
</div>
</div>

</div>
<div class='sec-wiki' id='wiki'>
<h1>Materials used in classes and other stuff</h1>
<p>
Looking for events materials and class presentations? They are at my Wiki.  Also, there are more contact information, notes and learning resources you may find interesting.
</p>
<p>
<a class='btn btn-primary' href='http://crowd.fi.uncoma.edu.ar/wiki/doku.php?id=christian:home'>
Go to my Wiki!
</a>
</p>

</div>
<div class='sec-repos' id='repositories'>
<h1>Repositories</h1>
See my projects and source code repositories!
<p>
<i class='fab fa-gitlab'></i>
<a href='https://gitlab.com/cnngimenez/'>Go to my Gitlab profile.</a>
</p>
<p>
<svg alt='Sourcehut logo' height='1em' viewBox='0 0 512 512' width='1em' xmlns='http://www.w3.org/2000/svg'>
<path fill="white" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path>
</svg>
<a href='https://sr.ht/~cngimenez'>Go to my Sourcehut (sr.ht) profile.</a>
</p>
<p>
<img alt='Codeberg logo' src='./imgs/codeberg-logo.svg' width='19em'>
<a href='https://codeberg.org/cnngimenez'>Go to my Codeberg profile.</a>
</p>
<p>
<i class='fab fa-bitbucket'></i>
<a href='https://bitbucket.org/cnngimenez/'>Go to my Bitbucket profile.</a>
</p>
<p>
<i class='fab fa-github'></i>
<a href='https://github.com/cnngimenez/'>Go to my Github profile.</a>
</p>

</div>
<div class='sec-acces' id='accesibility'>
<h2>This site implement some accesibility features</h2>
<p>
This site was made with some accesibility features in mind. The
<a href='https://webaim.org/'>WebAIM</a>
guidelines were used as a reference in many aspects. For example, colour contrast, structural elements, images and icons with alterantive texts, some navigation and focus order.
</p>
<p>
However, this is still a work in progress. If you find any mistake or any problem while reading and understanding this Webpage, please contact me by e-mail at
<code>christian.gimenez at fi.uncoma.edu.ar</code>
or by any of the methods described at the Contact Section above.
</p>

</div>
<hr>
<p>
<a class='btn btn-secondary' href='#top'>
<i class='fas fa-chevron-up'></i>
Top
</a>
</p>
<div class='footer' data-role='footer'>
<address>
<a href='mailto:christian.gimenez@fi.uncoma.edu.ar'>
Gimenez, Christian
</a>
</address>
<p>
Last update:
11 Dec 2024
</p>
</div>
</div>
<script src='./libs/jquery.min.js'></script>
<script src='./libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js'></script>
<script defer src='./libs/aos.js'></script>
<script defer src='./libs/particles.js'></script>
<script async src='./libs/masonry-4.2.2.pkgd.min.js'></script>
<script src='./libs/index.js'></script>
</body>
</html>
